li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  cursor: crosshair;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

/* navbar */

nav {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 108px;
}

/* card */

.card-container {
  margin: auto 20px auto 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
}

.card-box {
  width: 100%;
  height: auto;
}

/* .card-container > a {
  height: max-content;
} */

/* .card-container a:nth-child(3) {
  grid-row: 1 / 2;
} */


/* A propos */

.container {
  margin: auto 20px auto 20px;
}

.about {
  background-color: rgb(29, 28, 28);
}

.about > nav > ul > li > a {
  color: white;
}

.container > p {
  text-align: left;
  color: white;
}

.container > p:nth-child(2) {
  margin-top: 40px;
}

.link-social {
  margin-top: 53px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
}
.link-social a {
  text-decoration: underline;
  color: white;
}
